.app-heading {
    color: var(--black);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Rubik", sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 126%;
}

.app-heading--primary{
    color: var(--primary);
}

.app-heading--secondary{
    color: var(--secondary);
}

