.hero-section {
    background-color: var(--background);
}
.hero-container{
    max-height: 900px;
    margin: 0 auto;
    padding: 0 5px;
    max-width: 1152px;
    position: relative;
    z-index: 100;
}

.hero-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 42px 37px 52px;
}

.hero-nav-list{
    display: flex;
}

.hero-nav-list li{
    color: var(--black);
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    transition: 0.1s ease-in-out;
}

.hero-nav-list li:hover{
    cursor: pointer;
    transform: scale(110%);
    color: var(--secondary);
}
.hero-nav-list li:not(:first-child) {
    margin-left: 40px;
}

.hero-section .app-layout{
    display: flex;
    padding: 0 52px 66px 70px;
    min-height: 70%;
}

.hero-section .app-layout-text{
    max-width: 430px;
    padding: 0 35px 0 0;
}

.hero-section .app-layout-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-watch-link{
    display: flex;
    align-items: center;
    padding: 0 0 48px 70px;
}

.hero-watch-link img{
    margin-right: 10px;
}

.hero-watch-text1{
    color: #B0B0B0;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Rubik", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 126%;
    letter-spacing: 1px;
    padding-bottom: 4px;
}

.hero-watch-text2{
    color: var(--black);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Rubik", sans-serif;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 126%;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.hero-rect{
    position: absolute;
    background: var(--primary);
    width: 295px;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 30px 0 0 30px;
    z-index: -100;
}
