.app-card{
    width: 278px;
    height: 276px;
    border-radius: 8px;
    background: var(--white);
    box-shadow: 0 4px 18px 0 rgba(88, 126, 236, 0.18);
    padding: 36px 18px;
}

.app-card-icon{
    width: 100%;
    height: 72px;
    fill: var(--primary)
}

.app-card-title{
    margin: 58px 0 10px 0;
    color: var(--black);
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 138%;
    letter-spacing: 1px;
}

.app-card-text{
    color: var(--text-gray);
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Rubik", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.5%;
    letter-spacing: 1px;
}

