.stay-section{
    background: var(--white);
}

.stay-container{
    margin: 0 auto;
    max-width: 1152px;
    padding: 0 5px;
}

.stay-section .app-layout{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 79px 0 79px 0;
}

.stay-section .app-layout-text{
    max-width: 360px;
    margin-left: 149px;
}

.stay-section .app-layout-img{
    max-width: 338px;
    max-height: 542px;
}