:root {
    --primary: #EC5863;
    --secondary: #4285F4;
    --white: #ffffff;
    --black: #000000;
    --background: #FAFBFD;
    --text-gray: #616161;
    --text-static: #FCFDFE;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    outline: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body, html {
    background: var(--background);
}