.tte{
    height: 100vh;
    max-height: 800px;
    margin: 0 auto;
    padding: 0 5px;
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.tte .app-layout{
    max-width: 1142px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.tte .tte-counter{
    width: 654px;
    padding: 28px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    border-radius: 16px;
    box-shadow: 0 2px 24px 0 rgba(88, 126, 236, 0.15);
    margin-top: 100px;
    margin-bottom: 80px;
    position: relative;
}

.tte .tte-counter .tte-counter-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.tte .tte-counter .tte-counter-item .number {
    color: var(--primary);
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Rubik, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5px;
}

.tte .tte-counter .tte-counter-item .label {
    color: var(--black);
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Rubik, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.tte .tte-row {
    margin-bottom: 120px;
    width: 100%;
    padding: 80px 80px 80px 160px;
}

.tte .rect{
    display: block;
    position: absolute;
    background: var(--primary);
    z-index: -100;
}
.tte .rect:nth-child(1){
    width: 130px;
    height: 130px;
    transform: rotate(-30deg);
    border-radius: 30px;
    right: -30px;
    bottom: -10px;
}
.tte .rect:nth-child(2){
    width: 100px;
    height: 100px;
    transform: rotate(105deg);
    border-radius: 30px;
    top: -30px;
    left: 40%;
}
.tte .rect:nth-child(3){
    width: 65px;
    height: 65px;
    transform: rotate(-30deg);
    border-radius: 16px;
    left: -20px;
    bottom: -20px;
}