.hc-section {
    background: var(--white);
}

.hc-container {
        margin: 0 auto;
        max-width: 1152px;
        padding: 0 5px;
    }

.hc-section .app-heading {
    margin-top: 79px;
}
    .hc-section .app-layout-text{
        align-items: center;
        margin: 79px 0 0 0;
    }

    .hc-section .app-layout-text p{
        text-align: center;
        max-width: 600px;
    }
    .hc-cards {
        display: flex;
        justify-content: space-between;
        margin: 46px 86px 74px 86px;
        position: relative;
    }

    .hc-rect-1,
    .hc-rect-2,
    .hc-rect-3,
    .hc-rect-4 {
        position: absolute;
        background: var(--primary);
        z-index: -100;
    }

    .hc-rect-1{
        border-radius: 16px;
        width: 65px;
        height: 65px;
        transform: rotate(-30deg);
        bottom: -34px;
        left: -14px;
    }

    .hc-rect-2{
        border-radius: 30px;
        width: 96px;
        height: 96px;
        transform: rotate(105deg);
        top: 40px;
        left: 228px;
    }

    .hc-rect-3{
        border-radius: 30px;
        width: 128px;
        height: 128px;
        transform: rotate(-30deg);
        bottom: -25px;
        right: 260px;
    }

    .hc-rect-4{
        border-radius: 16px;
        width: 65px;
        height: 65px;
        transform: rotate(-30deg);
        top: -35px;
        right: -25px;
    }

    .hc-links{
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.1s ease-in-out;
        margin: 0 0 40px 0;
    }

    .hc-links img:hover{
        transform: scale(110%);
    }

    .hc-appstore-link{
        margin-left: 65px;
    }