.app-layout-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app-layout-text p{
    margin: 10px 0 24px 0;
    color: var(--text-gray);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Rubik", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 138%;
    letter-spacing: 1px;
}

